{{#footer_4}}
  <section class="footer_one home8 pb0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          {{#logo_footer}}
            <div class="logo-widget home8 mb60">
              {{#logo_image_footer}}<img class="img-fluid" src="{{{footerlogo1}}}" alt="{{ sitename }}" {{#logo_styles_footer}} style="{{{logo_styles_footer}}}" {{/logo_styles_footer}}>{{/logo_image_footer}}
              {{#logotype_footer}}<span>{{ sitename }}</span>{{/logotype_footer}}
            </div>
          {{/logo_footer}}
          <div class="footer_contact_widget home8 text-center">
            {{{footer_col_1_body}}}
          </div>
          <div class="footer_social_widget home8 mt35 mb80">
            <ul>
              {{> theme_edumy/ccn_social_icons }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {{#cocoon_copyright}}
          <div class="col-lg-6 col-xl-6">
            <div class="copyright-widget text-center mt25">
              <p>{{{ cocoon_copyright }}}</p>
            </div>
          </div>
        {{/cocoon_copyright}}
        {{#footer_menu}}
          <div class="col-lg-6 col-xl-6 pb25 pt25 text-right tac-smd">
            <div class="footer_menu_widget home3">
              {{{footer_menu}}}
            </div>
          </div>
        {{/footer_menu}}
      </div>
    </div>
  </section>
{{/footer_4}}
{{^footer_4}}
  {{#footer_8}}
    {{> theme_edumy/ccn_footer_8 }}
  {{/footer_8}}
  {{^footer_8}}
    <section class="footer_one {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
      <div class="container">
        <div class="row">
          {{#footer_column_1}}
            <div class="{{{footer_col_1_class}}}">
              <div class="footer_contact_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
                <h4>{{{ footer_col_1_title }}}</h4>
                {{{ footer_col_1_body }}}
              </div>
            </div>
          {{/footer_column_1}}
          {{#footer_column_2}}
            <div class="{{{footer_col_2_class}}}">
              <div class="footer_company_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
                <h4>{{{ footer_col_2_title }}}</h4>
                {{{ footer_col_2_body }}}
              </div>
            </div>
          {{/footer_column_2}}
          {{#footer_column_3}}
            <div class="{{{footer_col_3_class}}}">
              <div class="footer_program_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
                <h4>{{{ footer_col_3_title }}}</h4>
                {{{ footer_col_3_body }}}
              </div>
            </div>
          {{/footer_column_3}}
          {{#footer_column_4}}
            <div class="{{{footer_col_4_class}}}">
              <div class="footer_support_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
                <h4>{{{ footer_col_4_title }}}</h4>
                {{{ footer_col_4_body }}}
              </div>
            </div>
          {{/footer_column_4}}
          {{#footer_column_5}}
            <div class="{{{footer_col_5_class}}}">
              <div class="footer_apps_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
                <h4>{{{ footer_col_5_title }}}</h4>
                {{{ footer_col_5_body }}}
              </div>
            </div>
          {{/footer_column_5}}
        </div>
      </div>
    </section>
    <section class="footer_middle_area p30 {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
      <div class="container">
        <div class="row">
          {{#logo_footer}}
            <div class="col-sm-4 {{#logotype_footer}}col-md-4 col-lg-4 col-xl-4{{/logotype_footer}}{{^logotype_footer}} {{/logotype_footer}} pb15 pt15">
              <div class="logo-widget {{#footer_1}} home1 {{/footer_1}}  {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home3 {{/footer_3}}">
                {{#logo_image_footer}} <img class="img-fluid" src="{{{footerlogo1}}}" alt="{{ sitename }}" {{#logo_styles_footer}} style="{{{logo_styles_footer}}}" {{/logo_styles_footer}}>{{/logo_image_footer}}
                {{#logotype_footer}}<span>{{ sitename }}</span>{{/logotype_footer}}
              </div>
            </div>
          {{/logo_footer}}
          {{#cocoon_copyright}}
		  <section class="col-sm-4 col-md-4 col-lg-4 col-xl-4 footer_bottom_area pt35 pb35 {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
			<div class="container">
			  <div class="row">
				<div class="col-lg-12">
				  <div class="copyright-widget text-center">
					<p>{{{ cocoon_copyright }}}</p>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
		{{/cocoon_copyright}}
          {{#footer_menu}}
            <div class="col-sm-8 col-md-5 col-lg-6 col-xl-6 text-center pb25 pt25">
              <div class="footer_menu_widget">
                {{{footer_menu}}}
              </div>
            </div>
          {{/footer_menu}}
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 pb15 pt15">
            <div class="footer_social_widget mt15">
              <ul>
                {{> theme_edumy/ccn_social_icons }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  {{/footer_8}}
{{/footer_4}}

{{#back_to_top}}
  <a class="scrollToHome" href="#"><i class="flaticon-up-arrow-1"></i></a>
{{/back_to_top}}

{{#gmaps_key}}
  <script src="//maps.googleapis.com/maps/api/js?key={{gmaps_key}}"></script>
{{/gmaps_key}}

{{{custom_js}}}
{{{ output.standard_end_of_body_html }}}
