/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Sep, 2020, 8:57:45 AM
    Author     : nihar
*/

.headtext1 {
    position: relative;
    left: 50rem;
}
.headtext2 {
    position: relative;
    left: 50rem;
    text-decoration: underline;
}
section.inner_page_breadcrumb{
        display: none !important;
}
input[type="submit"] {
    height: auto !important;
}