{{!
    @template theme_boost/block

    Example context (json):
    {
        "id": "block0",
        "class": "block block_html",
        "showskiplink": true,
        "type": "html",
        "ariarole": "complementary",
        "title": "Test block",
        "blockinstanceid": 1,
        "content": "<p>Hello block world!</p>"
    }

}}

{{! Start Block Container }}
<div id="{{id}}" class="{{#hidden}}hidden{{/hidden}} {{class}} {{#hascontrols}}block_with_controls{{/hascontrols}}" role="{{ariarole}}" data-block="{{type}}" {{#arialabel}} aria-label={{#quote}}{{{arialabel}}}{{/quote}} {{/arialabel}} {{^arialabel}}
  {{#hascontrols}} {{#title}} aria-labelledby="instance-{{blockinstanceid}}-header" {{/title}} {{/hascontrols}} {{/arialabel}} style="{{ccn_style}}">

  {{! Block Skip Link }}
  {{#showskiplink}}
    <a href="#sb-{{skipid}}" class="sr-only sr-only-focusable">{{#str}}skipa, access, {{title}}{{/str}}</a>
  {{/showskiplink}}

  {{! Block contents }}

  {{! Block header }}
  {{#title}}

  {{/title}}

  {{#hascontrols}}
    <span id="instance-{{blockinstanceid}}-header" class="hidden ccn-hidden ccnInvisTitle">{{{title}}}</span>
    <div class="ccnBlockControls">
      {{#ccn_lc_vb}}
        <div class="ccnBlockControls--lc-vb">
          <a class="ccnBlockControls--lc-vb--btn" href="{{{ccn_lc_vb}}}"><span class="ccn-flaticon-magic-wand"></span> {{#str}} live_customizer, theme_edumy {{/str}}</a>
        </div>
      {{/ccn_lc_vb}}
      <div class="block-controls header">
        {{{controls}}}
      </div>
    </div>
  {{/hascontrols}}

  {{!<div class="">}}
  {{{content}}}
  {{{footer}}}
  {{{annotation}}}
  {{!</div>}}

  {{! Block Skip Link Target }}
  {{#showskiplink}}
    <span id="sb-{{skipid}}"></span>
  {{/showskiplink}}

  {{! End Block Container }}
</div>
