{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/preferences_groups

    This template renders the preferences groups.

    Example context (json):
    {
        "groups": "[preferences_group Object]",
        "nodes": "navigation_node_collection Object",
        "get_title": "User account",
        "action": "https://domain.example/user/editadvanced.php?id=2&course=1",
        "get_content": "Edit profile"
    }
}}
<div class="ccn_col_tree">
  {{#groups}}
    <div class="ccn_col_branch {{title}}">
      <h4 class="card-title">{{title}}</h4>
      <div class="card-text">
        {{#nodes}}
          <div><a {{#get_title}}title="{{get_title}}" {{/get_title}} href="{{{action}}}">{{get_content}}</a></div>
        {{/nodes}}
      </div>
    </div>
  {{/groups}}
</div>
