section.footer_one{display:none;}
div#yui_3_17_2_1_1594841396640_24 {
    display: none;
}.home1-mainslider .home-content.home9 {
    padding-top: 10px !important;
    text-align: center;
}
.banner-style-one.home9 .slide.slide-one {
    padding-top: 50px !important;
}
.home9 .video_popup_icon.mr25{
margin-left: 41%;
}
.home9 .video_popup_icon:after{
left: 40% !important;
}
.owl-carousel.home9 h2.sub-title{font-size: 24px !important;}

.first_slider_r .main-banner-wrapper .carousel-btn-block .carousel-btn.right-btn i{display:none !important;}
.first_slider_r .main-banner-wrapper .carousel-btn-block .carousel-btn.left-btn i{display:none !important;}


@media only screen and (max-width: 1500px){
.banner-style-one.home9 .slide {
    height: 310px !important;
}
}

