/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Jul, 2020, 7:58:19 PM
    Author     : nihar
*/

div.main_content_container div.row div.col-xl-3:nth-child(4) {
    display: none !important;
}

div.dashbord_nav_list ul li:nth-child(3) {
    display: none !important;
}