body {
    margin: 0 !important;
    padding: 0;
    /* background-image: url(../images/320px.png); */
    background-size: contain;
    background-color: #fff;
    overflow-x: hidden !important
}

html {
    scroll-behavior: smooth;
}
ul.sign_up_btn {
    margin-top: 20px !important;
}
section.inner_page_breadcrumb {
    display: none !important;
}
@font-face {
    font-family: uni-regular;
    src: url("../fonts/UniNeueRegular.otf");
}

@font-face {
    font-family: uni-bold;
    src: url("../fonts/UniNeueBold.otf");
}

@font-face {
    font-family: uni-book;
    src: url("../fonts/UniNeueBook.otf");
}

@font-face {
    font-family: uni-heavy;
    src: url("../fonts/UniNeueHeavy.otf");
}

* {
    box-sizing: border-box;
    flex-wrap: wrap;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0 !important;
    padding: 0;
}

p {
    margin: 0 !important;
}

h4 {
    font-family: uni-heavy;
    color: #003461;
    font-size: 20px;
    width: 70%;
    line-height: 37px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

input:focus {
    outline: none;
}

header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ffffff3d;
    /* background-color: #00000021; */
    background-color: #003462;
        padding: 10px 50px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#toggle {
    width: 28px;
    height: 30px;
    /* margin: 10px 0; */
    display: none;
}

#toggle div {
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 6px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}
.logo {
    width: 16%;
}

.logo img {
    width: 100%;
}
.main{
    display: inline-block;
}
.banner {
    background-image: url(../images/banner.png);
    height: 100vh;
    width: 100%;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

/* .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7627452e;} */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: uni-bold;
    cursor: pointer;
}

.dropbtn img {
    width: 11px;
    height: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #003461;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search {
    position: relative;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #EC008C;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.icon img {
    width: 100%;
}

.menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.menu div {
    cursor: pointer;
}

.left {
    width: 40%;
    display: flex;
    align-items: center;
}

input {
    padding: 8px 17px;
    border-radius: 15px;
    border: 0;
    width: 100%;
    height: 30px;
}

.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.lang {
    position: relative;
}

.lang img {
    width: 30px;
}

.lang span {
    position: absolute;
    background-color: #fff;
    color: #003461;
    font-family: uni-bold;
    font-size: 10px;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    right: -10px;
    top: -4px;
}

.solution {
    margin: 0 25px;
    font-family: uni-bold;
    text-transform: uppercase;
    color: #fff;
}

.join {
    background-color: #EC008C;
    padding: 10px 24px;
    font-size: 14px;
    font-family: uni-bold;
    color: #fff;
}

.login {
    background-color: #003462;
    padding: 10px 24px;
    font-size: 14px;
    font-family: uni-bold;
    color: #fff;
}

.right_wrap {
    width: 35%;
    display: flex;
    z-index: 1;
    color: #003461;
}

.right_wrap h1 {
    font-family: uni-bold;
    /* color: #fff; */
}

.btn_wrap {
    width: 63%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn {
    border-radius: 30px;
    cursor: pointer;
}

.item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left_sec, .right_sec {
    width: 50%;
}

.left_sec {
    padding: 0 100px;
}

.right_sec img {
    width: 100%;
}

.blue {
    background-color: #003462;
}

.pink {
    background-color: #33333321;
}

.left_sec h1 {
    width: 75%;
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.left_sec hr {
    width: 40%;
    height: 2px;
    border: none;
    background-color: #ffffffd1;
    margin: 0 0 30px 0;
    border-radius: 4px;
}
.pink .left_sec hr{
    background-color: #ee558b;
}
.pink .left_sec h1{
    color: #000;
}
.left_sec p {
    width: 90%;
    font-size: 16px;
    color: #ffffffa6;
    line-height: 23px;
}
.pink .left_sec p{
    color: #000;
}
footer {
    background-color: #003462;
    padding: 50px;
}

.social_link {
    width: 20%;
    display: flex;
    justify-content: space-between
}

footer p {
    text-align: center;
    font-size: 13px;
    color: #fff;
}

footer .item {
    /* margin-bottom: 50px; */
}

/* -----------------------about-------------------- */

.about .left_sec h1, .about .left_sec p {
    color: #000;
}

.about .left_sec p {
    color: #000000d9;
    font-size: 15px;
    line-height: 25px;
    width: 90%;
}

.about .right_sec {
    width: 40%;
    padding-top: 40px;
}

.about .left_sec {
    width: 60%;
    padding: 100px 50px 50px;
}

.features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.features li {
    width: 48%;
    margin: 10px 0;
    position: relative;
    color: #000000d9;
    padding-left: 30px;
    font-size: 15px;
    line-height: 22px;
}

.features li::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 5px;
    border-radius: 100%;
    background-color: navy;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.solution_wrap {
    padding-top: 140px;
    padding-bottom: 40px;
    /* align-items: initial; */
}

.solution_wrap h1 {
    width: 100%;
    font-family: uni-bold;
    text-align: center;
    margin: 0;
}

.solution_wrap .left_sec {
    padding-top: 20px;
}

.solution_wrap .right_sec {
    padding-top: 0;
    padding-left: 50px;
}

.right_padding {
    padding-left: 0!important;
    padding-right: 50px;
}

.grey {
    background-color: #f1f1f1;
}

.grey .left_sec {
    padding: 60px 50px 50px !important;
}

.grey .features li {
    width: 100%;
}

.purple {
    background-color: #003461 !important;
    width: 20% !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.solu_wrap {
    padding: 40px 0;
    width: 100%;
}

.image_wrap {
    background-image: url(../images/12.jpg);
    width: 59%;
    height: 249px;
    background-size: contain;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.head {
    width: 68%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.solu_item_wrap {
    width: 78%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.item_30 {
    width: 32%;
    border: 1px solid #98989852;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 7%);
    margin: 10px 0;
}

.item_30 h5 {
    margin: 5px 0 10px;
    font-size: 15px;
}

.item_30 p {
    font-size: 13px;
    line-height: 20px;
}

.know_more {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: uni-book !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 0.5s ease;
    border: 2px solid #003462;

}
.know_more a{
    color: #fff;
}
.know_more:hover{
    border: 2px solid #003462;
    background-color: transparent;
    color: #003462 !important;
    transition: 0.5s ease;

}
.know_more:hover a{
    color: #003462;
}
@media screen and (max-width:700px) and (min-width:300px){
    .left_sec, .right_sec{
        width: 100% !important;

    }
    .left_sec{
        padding: 20px !important;
    }
    .blue{
        flex-direction: column-reverse;
    }
    .left_sec h1 {
        width: 75%;
        font-size: 21px;
    }
    .left_sec p {
        width: 90%;
        font-size: 13px;
    }
    .right_wrap {
        width: 90%;
        margin: 0 auto;
        padding-top: 180px;
    }
    .item_30{
        width: 100%;
    }
    .head h1{
        font-size: 22px;
    }
    .head p{
        font-size: 13px;
    }
    .head{
        width: 90%;
    }
    .image_wrap {
        width: 85%;
        height: 86px;
        background-size: cover;
    }
    header{
        padding: 10px 20px;
        height: 75px;
    }
    .menu{
        display: none;
        background-color: #003461;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px;
    }
    .logo {
        width: 56%;
    }
    #toggle {
        display: block;
    }
    .banner{
        margin-top: 75px; 
        height: 80vh;
      }
      .left {
        width: 100%;
        align-items: initial;
        flex-direction: column-reverse;
    }
    .right {
        width: 100%;
        justify-content: flex-start;
        align-items: initial;
    }
    .lang{
        display: none;
    }
    .solution{
        margin: 20px 0px;
        width: 100%;
    }
    .dropbtn{
        padding: 20px 0 0;
    }
    .dropdown-content{
        position: relative;
        margin-bottom: 20px;
        transition: 0.5s ease;
    }
    .right_wrap h1 {
        font-size: 21px;
    }
    .btn_wrap {
        width: 100%;
        margin-top: 18px;
    }
    footer {
        padding: 30px;
    }
    footer .item{
        justify-content: center;
    }
    .social_link{
        margin: 50px auto;
        width: 90%;
    }
    footer p {
        margin-top: 30px !important;
    }
    .about .right_sec {
        height: 60vh !important;
    }
    .about .right_sec img{
        height: 100%;
    }
    .features li {
        width: 100%;
        margin: 5px 0;
        font-size: 13px;
        padding-left: 22px;
    }
    .features li::before {
        width: 12px;
        height: 12px;
    }
    h4 {
        font-size: 15px;
        width: 100%;
        line-height: 28px;
    }
    .about .left_sec p {
        font-size: 12px;
        line-height: 25px;
        width: 100%;
    }
    .solution_wrap {
        padding-top: 100px;
    }
    .solution_wrap h1 {
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .solution_wrap .right_sec {
        padding-top: 0;
        padding-left: 0;
        height: 50vh !important;
    }
    .grey{
        flex-direction: column-reverse;
    }
    .grey .left_sec {
        padding: 30px 20px 20px !important;
    }
    .grey .right_padding {
        padding-top: 0!important;
        padding-right: 0px;
        height: 50vh !important;
    }
}

@media screen and (max-width:1100px) and (min-width:700px){
    /* .left_sec, .right_sec{
        width: 100% !important;

    } */
    .left_sec{
        padding: 20px !important;
    }

    .left_sec h1 {
        width: 75%;
        font-size: 21px;
    }
    .left_sec p {
        width: 90%;
        font-size: 13px;
    }
    .right_wrap {
        width: 53%;
        display: flex;
        background-color: #fff;
        padding: 20px;
        color: #003461;
    }
    .item_30{
        width: 48%;
    }
    .head h1{
        font-size: 22px;
    }
    .head p{
        font-size: 13px;
    }
    .head{
        width: 90%;
    }
    .image_wrap {
        width: 72%;
        height: 145px;
        background-size: cover;
    }
    header{
        padding: 10px 20px;
        height: 90px;
    }
    .menu{
        display: none;
        background-color: #003461;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px;
    }
    .logo {
        width:30%;
    }
    #toggle {
        display: block;
    }
    .banner{
        margin-top: 90px; 
        height: 50vh;
      }
      .left {
        width: 100%;
        align-items: initial;
        flex-direction: column-reverse;
    }
    .right {
        width: 100%;
        justify-content: flex-start;
        align-items: initial;
    }
    .lang{
        display: none;
    }
    .solution{
        margin: 20px 0px;
        width: 100%;
    }
    .dropbtn{
        padding: 20px 0 0;
    }
    .dropdown-content{
        position: relative;
        margin-bottom: 20px;
        transition: 0.5s ease;
    }
    .right_wrap h1 {
        font-size: 21px;
    }
    .search{
        width: 50%;
    }
    .btn_wrap {
        width: 80%;
        margin-top: 18px;
    }
    footer {
        padding: 30px;
    }
    footer .item{
        justify-content: space-between;
    }
    .res{
        margin-top: 100px;
        align-items: initial;
    }
    footer p {
        /* margin-top: 30px !important; */
    }

    .features li {
        width: 100%;
        margin: 5px 0;
        font-size: 13px;
        padding-left: 22px;
    }
    .features li::before {
        width: 12px;
        height: 12px;
    }
    h4 {
        font-size: 15px;
        width: 100%;
        line-height: 28px;
    }
    .about .left_sec p {
        font-size: 12px;
        line-height: 25px;
        width: 100%;
    }
    .solution_wrap {
        padding-top: 100px;
    }
    .solution_wrap h1 {
        width: 100%;
        font-size: 28px;
        margin-bottom: 0px;
        margin-top: 39px;
    }
    .solution_wrap .right_sec {
        padding-top: 0;
        padding-left: 0;
    }

    .grey .left_sec {
        padding: 30px 40px 20px !important;
    }
    .grey .right_padding {
        padding-top: 0!important;
        padding-right: 0px;
    }
}