{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/filemanager_selectlayout

    This template renders the window appearing to select a file.

    Example context (json):
    {}
}}
<div class="file-picker fp-select">
    <div class="fp-select-loading">
        <span class="sr-only">{{#str}}loadinghelp{{/str}}</span>
        {{#pix}}i/loading_small{{/pix}}
    </div>
    <div class="container">
        <form>
            <fieldset class="form-group row flex-column">
                <div class="form-check fp-linktype-2">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio">
                        {{#str}}makefileinternal, repository{{/str}}
                    </label>
                </div>
                <div class="form-check fp-linktype-1">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio">
                        {{#str}}makefilelink, repository{{/str}}
                    </label>
                </div>
                <div class="form-check fp-linktype-4">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio">
                        {{#str}}makefilereference, repository{{/str}}
                    </label>
                </div>
                <div class="form-check fp-linktype-8">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio">
                        {{#str}}makefilecontrolledlink, repository{{/str}}
                    </label>
                </div>
            </fieldset>
            <div class="fp-saveas form-group row">
                <label class="col-form-label">{{#str}}saveas, repository{{/str}}</label>
                <input class="form-control" type="text">
            </div>
            <div class="fp-setauthor form-group row">
                <label class="col-form-label">{{#str}}author, repository{{/str}}</label>
                <input class="form-control" type="text">
            </div>
            <div class="fp-setlicense form-group row hide">
                <label class="col-form-label">{{#str}}chooselicense, repository{{/str}}</label>
                <select class="custom-select"></select>
            </div>
            <div class="form-group row">
                <div class="fp-select-buttons">
                    <button class="fp-select-confirm btn-primary btn">{{#str}}getfile, repository{{/str}}</button>
                    <button class="fp-select-cancel btn-secondary btn">{{#str}}cancel{{/str}}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="fp-info clearfix">
        <hr>
        <p class="fp-thumbnail"></p>
        <div class="fp-fileinfo">
            <div class="fp-datemodified">{{#str}}lastmodified, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-datecreated">{{#str}}datecreated, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-size">{{#str}}size, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-license">{{#str}}license, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-author">{{#str}}author, repository{{/str}}<span class="fp-value"></span></div>
            <div class="fp-dimensions">{{#str}}dimensions, repository{{/str}}<span class="fp-value" dir="ltr"></span></div>
        </div>
    </div>
</div>
