/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Aug, 2020, 12:10:58 PM
    Author     : nihar
*/

div.b0p0 div.details:nth-child(2) {
    display: none !important;
}

div#ccnSettingsMenu div.dropdown-menu-right div:nth-child(6) {
    display: none !important;
}
div#ccnSettingsMenu div.dropdown-menu-right div:nth-child(4) {
    display: none !important;
}