/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Aug, 2020, 12:10:58 PM
    Author     : nihar
*/

body#page-user-preferences div.ccn_col_tree div.account div.card-text div:nth-child(4) {
    display: none !important;
}

body#page-user-preferences div.ccn_col_tree div.account div.card-text div:nth-child(6) {
    display: none !important;
}

