/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Aug, 2020, 12:10:58 PM
    Author     : nihar
*/

div#ccnSettingsMenu div.dropdown-menu-right div:nth-child(3) {
    display: none !important;
}
body#page-course-admin div#linkusers div.Enrolment {
    display: none !important;
}
body#page-course-admin div#linkusers hr:nth-child(2){
    display: none !important;
}
div#ccn-main ul.list-unstyled li:nth-child(3) {
    display: none !important;
}
div#ccn-main ul.list-unstyled li:nth-child(6) {
    display: none !important;
}